In [0]:
# Import pySpark
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [0]:
# Prepare Data
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]
# Create DataFrame
columns= ["name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------+----------+------+
|name   |department|salary|
+-------+----------+------+
|James  |Sales     |3000  |
|Michael|Sales     |4600  |
|Robert |Sales     |4100  |
|Maria  |Finance   |3000  |
|James  |Sales     |3000  |
|Scott  |Finance   |3300  |
|Jen    |Finance   |3900  |
|Jeff   |Marketing |3000  |
|Kumar  |Marketing |2000  |
|Saif   |Sales     |4100  |
+-------+----------+------+

In [0]:
#Get Distinct Rows (By Comparing All Columns)
distinctDF = df.distinct()
print("Distinct count: "+str(distinctDF.count()))
distinctDF.show(truncate=False)

Distinct count: 9
+-------+----------+------+
|name   |department|salary|
+-------+----------+------+
|Michael|Sales     |4600  |
|James  |Sales     |3000  |
|Robert |Sales     |4100  |
|Maria  |Finance   |3000  |
|Jen    |Finance   |3900  |
|Scott  |Finance   |3300  |
|Kumar  |Marketing |2000  |
|Jeff   |Marketing |3000  |
|Saif   |Sales     |4100  |
+-------+----------+------+

In [0]:
#Alternatively, you can also run dropDuplicates() function which returns a new DataFrame after removing duplicate rows.
#this using more resource
df2 = df.dropDuplicates()
print("Distinct count: "+str(df2.count()))
df2.show(truncate=False)

Distinct count: 9
+-------+----------+------+
|name   |department|salary|
+-------+----------+------+
|Michael|Sales     |4600  |
|James  |Sales     |3000  |
|Robert |Sales     |4100  |
|Maria  |Finance   |3000  |
|Jen    |Finance   |3900  |
|Scott  |Finance   |3300  |
|Kumar  |Marketing |2000  |
|Jeff   |Marketing |3000  |
|Saif   |Sales     |4100  |
+-------+----------+------+

In [0]:
#PySpark Distinct of Selected Multiple Columns
dropDisDF = df.dropDuplicates(["department","salary"])
print("Distinct count of department & salary : "+str(dropDisDF.count()))
dropDisDF.show(truncate=False)

Distinct count of department & salary : 8
+-------+----------+------+
|name   |department|salary|
+-------+----------+------+
|Maria  |Finance   |3000  |
|Scott  |Finance   |3300  |
|Jen    |Finance   |3900  |
|Kumar  |Marketing |2000  |
|Jeff   |Marketing |3000  |
|James  |Sales     |3000  |
|Robert |Sales     |4100  |
|Michael|Sales     |4600  |
+-------+----------+------+