In [0]:
%run /Shared/PROD/core_function/core

In [0]:
data = [{"Category": 'A', "ID": 1, "Value": 121.44, "Truth": True},
        {"Category": 'B', "ID": 2, "Value": 300.01, "Truth": False},
        {"Category": 'C', "ID": 3, "Value": 10.99, "Truth": None},
        {"Category": 'E', "ID": 4, "Value": 33.87, "Truth": True}
        ]

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [0]:
df = spark.createDataFrame(data)
df.show()

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       A|  1| true|121.44|
|       B|  2|false|300.01|
|       C|  3| null| 10.99|
|       E|  4| true| 33.87|
+--------+---+-----+------+

In [0]:
data2 = [{"Category": 'A', "ID": 1, "Value": 121.44, "Truth": True},
        {"Category": 'B', "ID": 2, "Value": 300.01, "Truth": False},
        {"Category": 'C', "ID": 3, "Value": 10.99, "Truth": None},
        {"Category": 'E', "ID": 4, "Value": 33.87, "Truth": True}
        ]

In [0]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("projectName").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf)

In [0]:
rdd = sc.parallelize(data2)
type(rdd)

Out[12]: pyspark.rdd.RDD

In [0]:
df = rdd.toDF()
df.show()

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       A|  1| true|121.44|
|       B|  2|false|300.01|
|       C|  3| null| 10.99|
|       E|  4| true| 33.87|
+--------+---+-----+------+

In [0]:
df = (spark.read
  .format("csv")
  .option("header", "true")
  .option("inferSchema", "true")
  .load("/databricks-datasets/samples/population-vs-price/data_geo.csv")
)

In [0]:
df.show()

+---------+-------------+----------+----------+------------------------+-----------------------+
|2014 rank|         City|     State|State Code|2014 Population estimate|2015 median sales price|
+---------+-------------+----------+----------+------------------------+-----------------------+
|      101|   Birmingham|   Alabama|        AL|                  212247|                  162.9|
|      125|   Huntsville|   Alabama|        AL|                  188226|                  157.7|
|      122|       Mobile|   Alabama|        AL|                  194675|                  122.5|
|      114|   Montgomery|   Alabama|        AL|                  200481|                  129.0|
|       64|Anchorage[19]|    Alaska|        AK|                  301010|                   null|
|       78|     Chandler|   Arizona|        AZ|                  254276|                   null|
|       86|  Gilbert[20]|   Arizona|        AZ|                  239277|                   null|
|       88|     Glendale|   Arizona|        AZ|                  237517|                   null|
|       38|         Mesa|   Arizona|        AZ|                  464704|                   null|
|      148|       Peoria|   Arizona|        AZ|                  166934|                   null|
|        6|      Phoenix|   Arizona|        AZ|                 1537058|                  206.1|
|       95|   Scottsdale|   Arizona|        AZ|                  230512|                   null|
|      215|     Surprise|   Arizona|        AZ|                  126275|                   null|
|      142|        Tempe|   Arizona|        AZ|                  172816|                   null|
|       33|       Tucson|   Arizona|        AZ|                  527972|                  178.1|
|      119|  Little Rock|  Arkansas|        AR|                  197706|                  131.8|
|       56|      Anaheim|California|        CA|                  346997|                  685.7|
|      261|      Antioch|California|        CA|                  108930|                   null|
|       52|  Bakersfield|California|        CA|                  368759|                   null|
|      227|     Berkeley|California|        CA|                  118853|                   null|
+---------+-------------+----------+----------+------------------------+-----------------------+
only showing top 20 rows

In [0]:
df.filter(df.State == "Arizona").select(df.City,df.State).show()

+-----------+-------+
|       City|  State|
+-----------+-------+
|   Chandler|Arizona|
|Gilbert[20]|Arizona|
|   Glendale|Arizona|
|       Mesa|Arizona|
|     Peoria|Arizona|
|    Phoenix|Arizona|
| Scottsdale|Arizona|
|   Surprise|Arizona|
|      Tempe|Arizona|
|     Tucson|Arizona|
+-----------+-------+

In [0]:
#Filter IS IN List values and is not in value
df.filter(df.State.isin("Arizona","Alaska","California")).select(df.City,df.State).show()

In [0]:
#Filter is not in value
df.filter(~df.State.isin("Arizona","Alaska","California")).select(df.City,df.State).show()

+----------------+-----------+
|            City|      State|
+----------------+-----------+
|      Birmingham|    Alabama|
|      Huntsville|    Alabama|
|          Mobile|    Alabama|
|      Montgomery|    Alabama|
|     Little Rock|   Arkansas|
|          Arvada|   Colorado|
|          Aurora|   Colorado|
|         Boulder|   Colorado|
|      Centennial|   Colorado|
|Colorado Springs|   Colorado|
|      Denver[12]|   Colorado|
|    Fort Collins|   Colorado|
|        Lakewood|   Colorado|
|          Pueblo|   Colorado|
|        Thornton|   Colorado|
|     Westminster|   Colorado|
|      Bridgeport|Connecticut|
|        Hartford|Connecticut|
|       New Haven|Connecticut|
|        Stamford|Connecticut|
+----------------+-----------+
only showing top 20 rows

In [0]:
df.filter(df.State.isin("Arizona","Alaska","California")==False).select(df.City,df.State).show()

In [0]:
# Using startswith
df.filter(df.City.startswith("A")).select("City","State","State Code","2014 Population estimate").show()

+--------------+------------+----------+------------------------+
|          City|       State|State Code|2014 Population estimate|
+--------------+------------+----------+------------------------+
| Anchorage[19]|      Alaska|        AK|                  301010|
|       Anaheim|  California|        CA|                  346997|
|       Antioch|  California|        CA|                  108930|
|        Arvada|    Colorado|        CO|                  113574|
|        Aurora|    Colorado|        CO|                  353108|
|    Athens[28]|     Georgia|        GA|                  119648|
|       Atlanta|     Georgia|        GA|                  456002|
|   Augusta[24]|     Georgia|        GA|                  196741|
|        Aurora|    Illinois|        IL|                  200456|
|     Ann Arbor|    Michigan|        MI|                  117770|
|   Albuquerque|  New Mexico|        NM|                  557169|
|         Akron|        Ohio|        OH|                  197859|
|     Allentown|Pennsylvania|        PA|                  119104|
|       Abilene|       Texas|        TX|                  120958|
|      Amarillo|       Texas|        TX|                  197254|
|     Arlington|       Texas|        TX|                  383204|
|        Austin|       Texas|        TX|                  912791|
|Alexandria[15]|    Virginia|        VA|                  150575|
+--------------+------------+----------+------------------------+

In [0]:
#using endswith
df.filter(df.City.endswith("e")).show()

+---------+------------+----------+----------+------------------------+-----------------------+
|2014 rank|        City|     State|State Code|2014 Population estimate|2015 median sales price|
+---------+------------+----------+----------+------------------------+-----------------------+
|      125|  Huntsville|   Alabama|        AL|                  188226|                  157.7|
|      122|      Mobile|   Alabama|        AL|                  194675|                  122.5|
|       88|    Glendale|   Arizona|        AZ|                  237517|                   null|
|       95|  Scottsdale|   Arizona|        AZ|                  230512|                   null|
|      215|    Surprise|   Arizona|        AZ|                  126275|                   null|
|      142|       Tempe|   Arizona|        AZ|                  172816|                   null|
|      234|    El Monte|California|        CA|                  116631|                   null|
|      151|   Elk Grove|California|        CA|                  163553|                   null|
|      136|Garden Grove|California|        CA|                  175078|                   null|
|      116|    Glendale|California|        CA|                  200167|                   null|
|       82|      Irvine|California|        CA|                  248531|                   null|
|      137|   Oceanside|California|        CA|                  174558|                   null|
|      185|      Orange|California|        CA|                  139812|                   null|
|      156|    Palmdale|California|        CA|                  158279|                   null|
|       59|   Riverside|California|        CA|                  319504|                  281.0|
|      205|   Roseville|California|        CA|                  128615|                   null|
|       10|    San Jose|California|        CA|                 1015785|                  900.0|
|      168|   Sunnyvale|California|        CA|                  149980|                   null|
|      172|    Torrance|California|        CA|                  148495|                   null|
|      220| Victorville|California|        CA|                  121901|                   null|
+---------+------------+----------+----------+------------------------+-----------------------+
only showing top 20 rows

In [0]:
#contains
df.filter(df.City.contains("e")).show()

+---------+-------------+----------+----------+------------------------+-----------------------+
|2014 rank|         City|     State|State Code|2014 Population estimate|2015 median sales price|
+---------+-------------+----------+----------+------------------------+-----------------------+
|      125|   Huntsville|   Alabama|        AL|                  188226|                  157.7|
|      122|       Mobile|   Alabama|        AL|                  194675|                  122.5|
|      114|   Montgomery|   Alabama|        AL|                  200481|                  129.0|
|       64|Anchorage[19]|    Alaska|        AK|                  301010|                   null|
|       78|     Chandler|   Arizona|        AZ|                  254276|                   null|
|       86|  Gilbert[20]|   Arizona|        AZ|                  239277|                   null|
|       88|     Glendale|   Arizona|        AZ|                  237517|                   null|
|       38|         Mesa|   Arizona|        AZ|                  464704|                   null|
|      148|       Peoria|   Arizona|        AZ|                  166934|                   null|
|        6|      Phoenix|   Arizona|        AZ|                 1537058|                  206.1|
|       95|   Scottsdale|   Arizona|        AZ|                  230512|                   null|
|      215|     Surprise|   Arizona|        AZ|                  126275|                   null|
|      142|        Tempe|   Arizona|        AZ|                  172816|                   null|
|      119|  Little Rock|  Arkansas|        AR|                  197706|                  131.8|
|       56|      Anaheim|California|        CA|                  346997|                  685.7|
|       52|  Bakersfield|California|        CA|                  368759|                   null|
|      227|     Berkeley|California|        CA|                  118853|                   null|
|      243|   Costa Mesa|California|        CA|                  112784|                   null|
|      240|       Downey|California|        CA|                  114172|                   null|
|      234|     El Monte|California|        CA|                  116631|                   null|
+---------+-------------+----------+----------+------------------------+-----------------------+
only showing top 20 rows

In [0]:
#PySpark Filter like and rlike
df.filter(df.City.like("%le%")).show()

+---------+---------------+----------+----------+------------------------+-----------------------+
|2014 rank|           City|     State|State Code|2014 Population estimate|2015 median sales price|
+---------+---------------+----------+----------+------------------------+-----------------------+
|      125|     Huntsville|   Alabama|        AL|                  188226|                  157.7|
|      122|         Mobile|   Alabama|        AL|                  194675|                  122.5|
|       78|       Chandler|   Arizona|        AZ|                  254276|                   null|
|       88|       Glendale|   Arizona|        AZ|                  237517|                   null|
|       95|     Scottsdale|   Arizona|        AZ|                  230512|                   null|
|      119|    Little Rock|  Arkansas|        AR|                  197706|                  131.8|
|      227|       Berkeley|California|        CA|                  118853|                   null|
|      186|      Fullerton|California|        CA|                  139677|                   null|
|      116|       Glendale|California|        CA|                  200167|                   null|
|      248|      Inglewood|California|        CA|                  111905|                   null|
|        2|    Los Angeles|California|        CA|                 3928864|                  434.7|
|      110|  Moreno Valley|California|        CA|                  202976|                   null|
|      156|       Palmdale|California|        CA|                  158279|                   null|
|      205|      Roseville|California|        CA|                  128615|                   null|
|      214|    Simi Valley|California|        CA|                  126871|                   null|
|      168|      Sunnyvale|California|        CA|                  149980|                   null|
|      224|        Vallejo|California|        CA|                  120228|                   null|
|      220|    Victorville|California|        CA|                  121901|                   null|
|      253|     Clearwater|   Florida|        FL|                  110703|                   null|
|      135|Fort Lauderdale|   Florida|        FL|                  176013|                   null|
+---------+---------------+----------+----------+------------------------+-----------------------+
only showing top 20 rows

In [0]:
#This check case insensitive
df.filter(df.City.rlike("(?i)^*les$")).show()

+---------+-----------+----------+----------+------------------------+-----------------------+
|2014 rank|       City|     State|State Code|2014 Population estimate|2015 median sales price|
+---------+-----------+----------+----------+------------------------+-----------------------+
|        2|Los Angeles|California|        CA|                 3928864|                  434.7|
+---------+-----------+----------+----------+------------------------+-----------------------+

In [0]:
#Struct condition
df.filter(df.City.lastname == "Williams") \
    .show(truncate=False)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-567115584125272>:2
      1 #Struct condition
----> 2 df.filter(df.City.lastname == "Williams") \
      3     .show(truncate=False)

NameError: name 'df' is not defined